version: 2
updates:
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Australia/Melbourne"
    labels:
      - "dependencies"
      - "automated"
    open-pull-requests-limit: 10
  - package-ecosystem: "npm"
    directory: "/.devcontainer"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Australia/Melbourne"
    labels:
      - "dependencies"
      - "automated"
      - "npm"
    open-pull-requests-limit: 10
    groups:
      npm-all:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Australia/Melbourne"
    labels:
      - "dependencies"
      - "automated"
      - "github-actions"
    open-pull-requests-limit: 10
    groups:
      actions:
        patterns:
          - "*"
